# {{ ansible_managed }}
[Service.{{ openio_kibana_namespace }}-kibana-{{ openio_kibana_serviceid }}]
command=/usr/share/kibana/bin/kibana -c {{ openio_kibana_sysconfig_dir }}/kibana.yml
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_kibana_namespace }},kibana,{{ openio_kibana_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
